@import '@/styles/components/socials.css';
@import '@/styles/components/carousel.css';
@import '@/styles/components/persons.css';
@import '@/styles/components/videos.css';
@import '@/styles/components/recommendations.css';
@import '@/styles/components/reviews.css';
@import '@/styles/components/cards/company-details-card.css';
@import '@/styles/components/cards/network-details-card.css';
@import '@/styles/components/cards/person-card.css';
@import '@/styles/components/cards/video-card.css';
@import '@/styles/components/cards/season-card.css';
@import '@/styles/components/cards/media-card.css';
@import '@/styles/components/cards/review-card.css';