.—Å-crew {
    margin-inline: -10px;
    padding-top: 30px;
    padding-inline: 10px;
    border-top: 1px solid color-mix(in oklab, var(--color-primary) 75%, transparent);

    @variant min-xxxl {
        margin-inline: -20px;
        padding-inline: 20px;
    }

    &__title {
        margin-top: -6px;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__cards {
        position: relative;
        margin-top: 20px;
    }

    &__slide {
        --swiper-col-gap: 10px;

        width: calc((100% / 2) - var(--swiper-col-gap) * 1 / 2);

        @variant min-sm {
            width: calc((100% / 3) - var(--swiper-col-gap) * 2 / 3);
        }

        @variant min-md {
            --swiper-col-gap: 15px;

            width: calc((100% / 5) - var(--swiper-col-gap) * 4 / 5);
        }

        @variant min-lg {
            --swiper-col-gap: 20px;

            width: calc((100% / 6) - var(--swiper-col-gap) * 5 / 6);
        }

        @variant min-xl {
            width: calc((100% / 8) - var(--swiper-col-gap) * 7 / 8);
        }

        @variant min-xxl {
            width: calc((100% / 9) - var(--swiper-col-gap) * 8 / 9);
        }
    }

    &__arrow {
        --icon-size: 20px;

        position: absolute;
        z-index: 1;
        top: 50%;
        transform: translate(50%);

        display: flex;
        align-items: center;
        justify-content: center;

        width: 36px;
        height: 36px;
        border-radius: 50%;

        color: var(--color-secondary);

        background-color: color-mix(in oklab, var(--color-white) 25%, transparent);
        backdrop-filter: blur(24px);

        transition-property: background-color, box-shadow, opacity, color;

        &:disabled {
            pointer-events: none;
            opacity: 0.2;
        }

        &--prev {
            inset-inline-start: -18px;

            i {
                transform: rotate(180deg);
            }
        }

        &--next {
            inset-inline-end: -18px;
        }

        @media (any-hover: hover) {
            &:not(:disabled):hover {
                color: var(--color-primary);
                background-color: var(--color-accent-hover);
                box-shadow: var(--shadow-custom-accent);
            }
        }
    }
}