.с-crews {
    @apply pt-[30px] border-t border-t-primary/75 -mx-2.5 px-2.5;
    @apply xxxl:-mx-5 xxxl:px-5;

    &__title {
        @apply -mt-1.5 font-bold uppercase;
    }

    &__cards {
        position: relative;
        margin-top: 20px;
    }

    &__slide {
        --swiper-col-gap: 10px;

        width: calc((100% / 2) - var(--swiper-col-gap) * 1 / 2);

        @variant min-sm {
            width: calc((100% / 3) - var(--swiper-col-gap) * 2 / 3);
        }

        @variant min-md {
            --swiper-col-gap: 15px;

            width: calc((100% / 5) - var(--swiper-col-gap) * 4 / 5);
        }

        @variant min-lg {
            --swiper-col-gap: 20px;

            width: calc((100% / 6) - var(--swiper-col-gap) * 5 / 6);
        }

        @variant min-xl {
            width: calc((100% / 8) - var(--swiper-col-gap) * 7 / 8);
        }

        @variant min-xxl {
            width: calc((100% / 9) - var(--swiper-col-gap) * 8 / 9);
        }
    }

    &__arrow {
        --icon-size: 20px;

        transition-property: background-color, box-shadow, opacity, color;

        &:disabled {
            @apply opacity-20 pointer-events-none;
        }

        &--prev {
            @apply -start-[18px];

            i {
                @apply rotate-180;
            }
        }

        &--next {
            @apply -end-[18px];
        }

        @media (any-hover: hover) {
            &:not(:disabled):hover {
                color: var(--color-primary);
                background-color: var(--color-accent-hover);
                box-shadow: var(--shadow-custom-accent);
            }
        }

        @apply absolute bg-white/25 backdrop-blur-xl z-1 size-9 flex items-center justify-center top-1/2 -translate-y-1/2 rounded-full text-secondary;
    }
}