.c-error-404 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;

    color: var(--color-primary);
    text-align: center;

    &__title {
        font-size: 128px;
        font-weight: 700;
        line-height: 1;
        text-transform: uppercase;
    }

    &__subtitle {
        margin-top: 20px;
        font-size: var(--text-5xl);
        font-weight: 700;
        line-height: 1.2;
    }

    &__text {
        font-size: var(--text-md);
        line-height: 1.2;
        opacity: 0.75;
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;

        width: fit-content;
        min-width: 300px;
        min-height: 50px;
        margin-top: 20px;
        padding: 8px 16px;
        border-radius: 4px;

        font-size: var(--text-lg);
        font-weight: 700;
        color: var(--color-secondary);
        text-transform: uppercase;

        background-color: var(--color-active);

        transition-property: opacity;

        @media (any-hover: hover) {
            &:hover {
                opacity: 0.75;
            }
        }
    }
}