.i-icon {
    display: inline-block;
    width: var(--icon-size, 24px);
    height: var(--icon-size, 24px);

    &--mono {
        background-color: currentcolor;

        mask-image: var(--icon-path);
        mask-position: center;
        mask-repeat: no-repeat;
        mask-size: contain;
    }

    &--color {
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
}

.i-icon-angle {
    --icon-path: url('/svg/angle.svg');
}

.i-icon-arrow {
    --icon-path: url('/svg/arrow.svg');
}

.i-icon-check {
    --icon-path: url('/svg/check.svg');
}

.i-icon-facebook {
    background-image: url('/svg/socials/facebook.svg');
}

.i-icon-imdb {
    background-image: url('/svg/socials/imdb.svg');
}

.i-icon-instagram {
    background-image: url('/svg/socials/instagram.svg');
}

.i-icon-tiktok {
    background-image: url('/svg/socials/tiktok.svg');
}

.i-icon-twitter {
    background-image: url('/svg/socials/twitter.svg');
}

.i-icon-youtube {
    background-image: url('/svg/socials/youtube.svg');
}

.i-icon-wikidata {
    background-image: url('/svg/socials/wikidata.svg');
}