.i-icon {
    display: inline-block;

    width: 24px;
    height: 24px;

    background-color: currentcolor;

    mask-image: var(--icon-path);

    mask-position: center;

    mask-repeat: no-repeat;
    mask-size: contain;
}

.i-icon--angle {
    --icon-path: url('/svg/angle.svg');
}

.i-icon--arrow {
    --icon-path: url('/svg/arrow.svg');
}

.i-icon--email {
    --icon-path: url('/svg/email.svg');
}

.i-icon--key {
    --icon-path: url('/svg/key.svg');
}
