.c-loader {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;

    width: 100%;

    &__inner {
        width: fit-content;

        font-size: var(--text-8xl);
        font-weight: bold;
        text-transform: uppercase;

        background: linear-gradient(90deg, var(--color-accent) 50%, transparent 0) right/200% 100%;

        animation: l21 1.5s infinite linear;

        &::before {
            content: 'Loading...';

            padding-inline: 8px;

            color: transparent;

            background: inherit;
            background: linear-gradient(
                90deg,
                var(--color-primary) 50%,
                var(--color-secondary) 0
            );
            background-clip: text;
        }
    }
}

@keyframes l21 {
    100% {
        background-position: left;
    }
}
