
.c-loader {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;

    width: 100%;

    &__inner {
        padding: 10px;
        border-style: solid;
        border-width: 4px;
        border-image: conic-gradient(var(--color-active) var(--a), transparent calc(var(--a) + 0.5deg)) 1;

        font-size: var(--text-2xl);
        font-weight: 700;
        color: var(--color-primary);

        animation: load 1.5s infinite linear;

        @variant min-md {
            padding: 16px;
            border-width: 6px;
            font-size: var(--text-6xl);
        }
    }
}

@property --a {
    inherits: false;
    initial-value: 0deg;
    syntax: '<angle>';
}

@keyframes load {
    0% {
        --a: 0deg;
    }

    100% {
        --a: 360deg;
    }
}
