.c-loader {
    position: relative;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;

    width: 100%;

    &__inner {
        position: absolute;
        top: 50%;
        inset-inline-start: 50%;
        transform: translate(-50%, -50%);

        width: 150px;
        height: 150px;
        border: 3px solid var(--color-secondary);
        border-radius: 50%;

        font-size: var(--text-lg);
        font-weight: 700;
        line-height: 150px;
        color: var(--color-active);
        text-align: center;
        text-shadow: 0 0 10px var(--color-active);
        text-transform: uppercase;
        letter-spacing: 4px;

        background: var(--color-secondary);
        box-shadow: 0 0 20px rgba(34, 34, 34, 0.5);

        &::before {
            content: '';

            position: absolute;
            top: -3px;
            inset-inline-start: -3px;

            width: calc(100% + 6px);
            height: calc(100% + 6px);
            border: 3px solid transparent;
            border-top: 3px solid var(--color-active);
            border-right: 3px solid var(--color-active);
            border-radius: 50%;

            animation: animate-c 2s linear infinite;
        }

        span {
            position: absolute;
            top: calc(50% - 2px);
            inset-inline-start: 50%;
            transform-origin: left;

            display: block;

            width: 50%;
            height: 4px;

            background: transparent;

            animation: animate 2s linear infinite;

            &::before {
                content: '';

                position: absolute;
                top: -6px;
                inset-inline-end: -8px;

                width: 16px;
                height: 16px;
                border-radius: 50%;

                background: var(--color-active);
                box-shadow: 0 0 20px var(--color-active);
            }
        }
    }
}

@keyframes animate-c {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(405deg);
    }
}