.c-logo {
    display: flex;
    flex-shrink: 0;
    column-gap: 10px;
    align-items: center;

    font-size: var(--text-5xl);
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;

    &__img {
        width: auto;
        height: 46px;
    }
}
