.c-media-list {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fill, 175px);
    justify-content: center;

    width: calc(100% + 20px);
    margin-inline: -10px;

    &:not(.c-media-list--compact) {
        @media (--min-xxl) {
            grid-template-columns: repeat(auto-fill, 264px);
        }

        @media (--min-xxxl) {
            grid-template-columns: repeat(auto-fill, 296px);
        }
    }

    &.c-media-list--compact {
        @media (--min-xxl) {
            grid-template-columns: repeat(auto-fill, 243px);
        }
    }

    @media (--min-sm) {
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fill, 215px);
        width: 100%;
        margin-inline: 0;
    }

    @media (--min-md) {
        grid-gap: 15px;
        grid-template-columns: repeat(auto-fill, 232px);
    }

    @media (--min-lg) {
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fill, 231px);
    }

    @media (--min-xl) {
        grid-template-columns: repeat(auto-fill, 240px);
    }
}