.c-no-search-results {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 20px;
    align-items: center;
    justify-content: center;

    font-size: var(--text-9xl);
    line-height: 1.2;
    color: var(--color-primary);
    text-align: center;

    &__title {
        margin-top: 20px;
        font-size: var(--text-5xl);
        font-weight: 700;
        text-transform: uppercase;
    }

    &__text {
        font-size: var(--text-md);
        opacity: 0.75;
    }
}