.c-popover {
    &__content {
        will-change: opacity;

        z-index: 10;

        overflow: hidden;

        width: var(--popover-width, 100%);
        max-width: min(440px, calc(100vw - 40px));
        padding: 12px;
        border-radius: 4px;

        color: var(--popover-color, var(--color-secondary));

        background-color: var(--popover-bg, var(--color-primary));

        animation-duration: 150ms;
        animation-timing-function: linear;

        &[data-state='open'][data-side='top'] {
            animation-name: slide-down-fade;
        }

        &[data-state='open'][data-side='right'] {
            animation-name: slide-left-fade;
        }

        &[data-state='open'][data-side='bottom'] {
            animation-name: slide-up-fade;
        }

        &[data-state='open'][data-side='left'] {
            animation-name: slide-right-fade;
        }
    }

    &__arrow {
        width: 16px;
        height: 8px;
        fill: var(--popover-bg, var(--color-primary));
    }
}

@keyframes slide-up-fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slide-right-fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slide-down-fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slide-left-fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
