.c-read-more {
    &__collapse {
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        transition-property: height;

        &::after {
            pointer-events: none;
            content: '';

            position: absolute;
            bottom: 0;
            left: 0;

            display: block;

            width: 100%;
            height: 30px;

            background: linear-gradient(to top,
            rgba(30, 30, 30, 1) 0%,
            rgba(30, 30, 30, 0) 100%);

            transition-property: opacity;

            .c-read-more--not-truncated & {
                content: none;
            }
        }

        .c-read-more--is-open &::after {
            opacity: 0;
        }
    }

    &__button {
        font-size: var(--text-md);
        font-weight: 700;
        line-height: 1;
        color: var(--color-link);

        transition-property: color;

        &:hover {
            color: var(--color-link-hover);
        }
    }
}