.c-read-more {
    &__button {
        margin-top: 10px;

        font-size: var(--text-md);
        font-weight: 700;
        line-height: 1;
        color: var(--color-link);

        transition-property: color;

        &:hover {
            color: var(--color-link-hover);
        }
    }
}