.c-recommendations {
    margin-inline: -10px;
    padding-top: 30px;
    padding-inline: 10px;
    border-top: 1px solid color-mix(in oklab, var(--color-primary) 75%, transparent);

    &__title {
        margin-top: -6px;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__list {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat(auto-fill, 175px);
        justify-content: center;

        width: calc(100% + 20px);
        margin-top: 20px;
        margin-inline: -10px;

        @media (--min-sm) {
            grid-gap: 10px;
            grid-template-columns: repeat(auto-fill, 215px);
            width: 100%;
            margin-inline: 0;
        }

        @media (--min-md) {
            grid-template-columns: repeat(auto-fill, 174px);

            .c-movie-card__tags,
            .c-tv-show-card__tags {
                gap: 6px;
            }

            .c-movie-card__tag,
            .c-tv-show-card__tag {
                font-size: var(--text-3xs);
            }

            .c-movie-card__tag--average,
            .c-tv-show-card__tag--average {
                span {
                    top: -2px;
                    font-size: 9px;
                }
            }

            .c-movie-card__footer,
            .c-tv-show-card__footer {
                height: 49px;
            }

            .c-movie-card__footer-title,
            .c-tv-show-card__footer-title {
                font-size: var(--text-sm);
            }
        }

        @media (--min-lg) {
            grid-template-columns: repeat(auto-fill, 188px);
        }

        @media (--min-xl) {
            grid-template-columns: repeat(auto-fill, 205px);
        }

        @media (--min-xxl) {
            grid-template-columns: repeat(auto-fill, 191px);
        }
    }

    &__skeleton {
        position: relative;

        overflow: hidden;

        width: 100%;
        padding-bottom: 48px;
        border-radius: 4px;

        img {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            object-fit: cover;
        }

        &>div:first-child {
            aspect-ratio: 2/3;
        }

        &:nth-child(n+3) {
            display: none;
        }

        @media (--min-md) {
            &:nth-child(3),
            &:nth-child(4) {
                display: block;
            }
        }

        @media (--min-lg) {
            &:nth-child(5) {
                display: block;
            }
        }

        @media (--min-xl) {
            &:nth-child(6) {
                display: block;
            }
        }

        @media (--min-xxl) {
            &:nth-child(7) {
                display: block;
            }
        }
    }

    &__load-more-button {
        display: block;

        width: fit-content;
        min-width: 250px;
        min-height: 40px;
        margin-top: 20px;
        margin-inline: auto;
        padding: 7px 16px;
        border-radius: 4px;

        font-size: var(--text-md);
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;

        background-color: var(--color-active);

        transition-property: opacity;

        &:disabled {
            pointer-events: none;
            opacity: 0.35;
        }

        @media (any-hover: hover) {
            &:hover {
                opacity: 0.75;
            }
        }
    }

    @media (--min-xxxl) {
        margin-inline: -20px;
        padding-inline: 20px;
    }
}