.с-recommendations {
    margin-inline: -10px;
    padding-top: 30px;
    padding-inline: 10px;
    border-top: 1px solid color-mix(in oklab, var(--color-primary) 75%, transparent);

    &__title {
        margin-top: -6px;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__list {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat(auto-fill, 175px);
        justify-content: center;

        width: calc(100% + 20px);
        margin-top: 20px;
        margin-inline: -10px;

        @media (--min-sm) {
            grid-gap: 10px;
            grid-template-columns: repeat(auto-fill, 215px);
            width: 100%;
            margin-inline: 0;
        }

        @media (--min-md) {
            grid-gap: 15px;
            grid-template-columns: repeat(auto-fill, 232px);
        }

        @media (--min-lg) {
            grid-gap: 20px;
            grid-template-columns: repeat(auto-fill, 231px);
        }

        @media (--min-xl) {
            grid-template-columns: repeat(auto-fill, 240px);
        }

        @media (--min-xxl) {
            grid-template-columns: repeat(auto-fill, 264px);
        }
    }

    &__load-more-button {
        display: block;

        width: fit-content;
        min-width: 250px;
        min-height: 40px;
        margin-top: 20px;
        margin-inline: auto;
        padding: 8px 16px;
        border-radius: 4px;

        font-size: var(--text-md);
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;

        background-color: var(--color-active);

        transition-property: opacity;

        &:disabled {
            pointer-events: none;
            opacity: 0.35;
        }

        @media (any-hover: hover) {
            &:hover {
                opacity: 0.75;
            }
        }
    }

    @media (--min-xxxl) {
        margin-inline: -20px;
        padding-inline: 20px;
    }
}