.—Å-reviews {
    margin-inline: -10px;
    padding-top: 30px;
    padding-inline: 10px;
    border-top: 1px solid color-mix(in oklab, var(--color-primary) 75%, transparent);

    &__title {
        margin-top: -6px;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 20px;
        margin-top: 20px;

        @media (--min-md) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        @media (--min-lg) {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }

        @media (--min-xl) {
            grid-template-columns: repeat(4, minmax(0, 1fr));
        }
    }

    &__load-more-button {
        display: block;

        width: fit-content;
        min-width: 250px;
        min-height: 40px;
        margin-top: 20px;
        margin-inline: auto;
        padding: 8px 16px;
        border-radius: 4px;

        font-size: var(--text-md);
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;

        background-color: var(--color-active);

        transition-property: opacity;

        &:disabled {
            pointer-events: none;
            opacity: 0.35;
        }

        @media (any-hover: hover) {
            &:hover {
                opacity: 0.75;
            }
        }
    }

    @media (--min-xxxl) {
        margin-inline: -20px;
        padding-inline: 20px;
    }
}