.—Å-reviews {
    @apply pt-[30px] border-t border-t-primary/75 -mx-2.5 px-2.5;
    @apply xxxl:-mx-5 xxxl:px-5;

    &__title {
        @apply -mt-1.5 font-bold uppercase;
    }

    &__list {
        @apply mt-5 grid grid-cols-1 gap-5;
        @apply md:grid-cols-2;
        @apply lg:grid-cols-3;
        @apply xxl:grid-cols-4;
    }

    &__show-all-button {
        display: block;

        width: fit-content;
        min-width: 250px;
        min-height: 40px;
        margin-top: 20px;
        margin-inline: auto;
        padding: 8px 16px;
        border-radius: 4px;

        font-size: var(--text-md);
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;

        background-color: var(--color-active);

        transition-property: opacity;

        @media (any-hover: hover) {
            &:hover {
                opacity: 0.75;
            }
        }
    }
}