.c-skeleton {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--color-secondary);

    &::before {
        content: 'Loading...';

        position: absolute;
        top: 0;
        left: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;

        font-size: 28px;
        line-height: 1;
        color: var(--color-primary);
        text-align: center;
    }
}