.c-tabs {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;

    @variant min-md {
        gap: 20px
    }

    &__item {
        cursor: pointer;

        flex-shrink: 0;

        padding: 6px 12px;
        border: 1px solid transparent;
        border-radius: 2px;

        font-size: var(--text-sm);
        font-weight: 700;
        line-height: 1;
        color: var(--color-primary);
        text-transform: uppercase;

        background-color: var(--color-accent);

        transition-property: border-color, background-color, box-shadow;

        @variant min-md {
            padding: 9px 18px;
            font-size: var(--text-lg);
        }

        &--is-active {
            pointer-events: none;
            border-color: white;
            background-color: var(--color-accent-hover);
        }

        &:hover {
            background-color: var(--color-accent-hover);
            box-shadow: 0 4px 16px rgba(8, 88, 125, 0.6);
        }
    }
}