.c-tabs {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;

    &__item {
        cursor: pointer;

        flex-shrink: 0;

        padding: 9px 18px;
        border: 1px solid transparent;
        border-radius: 2px;

        font-size: var(--text-lg);
        font-weight: 700;
        line-height: 1;
        color: var(--color-primary);
        text-transform: uppercase;

        background-color: var(--color-accent);

        transition-property: border-color, background-color;

        &:hover,
        &--is-active {
            border-color: white;
            background-color: var(--color-accent-hover);
        }

        &--is-active {
            pointer-events: none;
        }
    }
}