.c-tabs {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;

    &__item {
        cursor: pointer;

        flex-shrink: 0;

        padding: 5px 10px;
        border: 1px solid transparent;
        border-radius: 2px;

        font-size: var(--text-xs);
        font-weight: 700;
        line-height: 1;
        color: var(--color-primary);
        text-transform: uppercase;

        background-color: var(--color-accent);

        transition-property: color, background-color, box-shadow;

        &--is-active {
            pointer-events: none;
            color: var(--color-secondary);
            background-color: var(--color-active);
        }

        @media (--min-sm) {
            padding: 6px 12px;
            font-size: var(--text-sm);
        }

        @media (any-hover: hover) {
            &:hover {
                background-color: var(--color-accent-hover);
                box-shadow: var(--shadow-custom-accent);
            }
        }

        @media (--min-md) {
            padding: 9px 18px;
            font-size: var(--text-lg);
        }
    }

    @media (--min-md) {
        gap: 15px
    }

    @media (--min-lg) {
        gap: 20px
    }
}