.c-title {
    line-height: 1.1;
    color: var(--color-primary);

    &--2 {
        font-size: var(--text-3xl);

        @variant min-md {
            font-size: var(--text-6xl);
        }

        @variant min-xl {
            font-size: var(--text-9xl);
        }
    }

    &--3 {
        font-size: var(--text-xl);

        @variant min-md {
            font-size: var(--text-4xl);
        }

        @variant min-xl {
            font-size: var(--text-7xl);
        }
    }

    &--4 {
        font-size: var(--text-md);

        @variant min-md {
            font-size: var(--text-2xl);
        }

        @variant min-xl {
            font-size: var(--text-5xl);
        }
    }
}