.Ñ-videos {
    margin-inline: -10px;
    padding-top: 30px;
    padding-inline: 10px;
    border-top: 1px solid color-mix(in oklab, var(--color-primary) 75%, transparent);

    &__title {
        margin-top: -6px;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 20px;
        margin-top: 20px;

        & .c-skeleton {
            overflow: hidden;
            border-radius: 4px;

            &>div:first-child {
                height: 60px;
            }

            &>div:last-child {
                aspect-ratio: 16/9;
            }

            &:nth-child(n+2) {
                display: none;
            }
        }

        @media (--min-md) {
            grid-template-columns: repeat(2, minmax(0, 1fr));

            & .c-skeleton {
                &:nth-child(2) {
                    display: block;
                }
            }
        }

        @media (--min-lg) {
            grid-template-columns: repeat(3, minmax(0, 1fr));

            & .c-skeleton {
                &:nth-child(3) {
                    display: block;
                }
            }
        }

        @media (--min-xl) {
            grid-template-columns: repeat(4, minmax(0, 1fr));

            & .c-skeleton {
                &:nth-child(4) {
                    display: block;
                }
            }
        }
    }

    @media (--min-xxxl) {
        margin-inline: -20px;
        padding-inline: 20px;
    }
}