.—Å-videos {
    margin-inline: -10px;
    padding-top: 30px;
    padding-inline: 10px;
    border-top: 1px solid color-mix(in oklab, var(--color-primary) 75%, transparent);

    &__title {
        margin-top: -6px;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 20px;
        margin-top: 20px;

        @media (--min-md) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        @media (--min-lg) {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }

        @media (--min-xl) {
            grid-template-columns: repeat(4, minmax(0, 1fr));
        }
    }

    &__skeleton {
        overflow: hidden;

        width: 100%;
        height: 248px;
        margin-top: 20px;
        border-radius: 4px;

        @media (--min-sm) {
            height: 307px;
        }

        @media (--min-md) {
            height: 259px;
        }

        @media (--min-lg) {
            height: 237px;
        }

        @media (--min-xl) {
            height: 231px;
        }

        @media (--min-xxl) {
            height: 248px;
        }
    }

    @media (--min-xxxl) {
        margin-inline: -20px;
        padding-inline: 20px;
    }
}