@import '../../../../styles/app-base.css';
@import '../../../../styles/app.css';

.p-tv-show {
    width: 100%;
}

.Ñ-tv-show-details-card {
    position: relative;
    width: 100%;
    color: var(--color-primary);

    &__backdrop {
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.85);

        img {
            z-index: -1;
            object-fit: cover;
        }
    }

    &__container {
        position: relative;

        display: grid;
        grid-template-columns: 1fr 60px;
        gap: 20px;

        padding-block: 30px;

        @variant min-sm {
            grid-template-columns: 1fr 112px;
        }

        @variant min-md {
            grid-template-columns: 328px 380px;
            grid-template-rows: max-content max-content 1fr;
        }

        @variant min-lg {
            grid-template-columns: 328px 636px;
        }

        @variant min-xl {
            grid-template-columns: 352px 908px;
        }

        @variant min-xxl {
            grid-template-columns: 352px 1028px;
            max-width: 1440px;
        }
    }

    &__cover {
        position: relative;

        overflow: hidden;
        flex-shrink: 0;

        aspect-ratio: 2/3;
        width: 255px;
        border: 1px solid var(--color-accent-hover);
        border-radius: 4px;

        box-shadow: 0 4px 16px rgba(8, 88, 125, 0.6);

        @variant min-sm {
            justify-self: end;
        }

        @variant min-md {
            grid-column: 1/2;
            grid-row: 1/4;
            justify-self: initial;
            width: 100%;
        }

        img {
            object-fit: cover;
        }
    }

    &__adult {
        position: absolute;
        z-index: 1;
        top: 10px;
        left: 10px;

        padding: 5px;
        border: 1px solid var(--color-danger);
        border-radius: 2px;

        font-size: var(--text-sm);
        font-weight: 700;
        line-height: 1;
        color: var(--color-danger);

        background-color: var(--color-primary);

        span {
            position: relative;
            top: -2px;
        }
    }

    &__title {
        grid-column: 1/-1;
        grid-row: 2/3;

        font-weight: 700;
        text-align: center;
        text-transform: uppercase;

        @variant min-md {
            grid-column: -2/-1;
            grid-row: 1/2;
            text-align:start;
        }
    }

    &__list-rounds {
        display: flex;
        grid-column: -2/-1;
        grid-row: 1/2;
        flex-direction: column;
        gap: 20px;
        align-items: center;

        @variant min-sm {
            justify-self: start;
        }

        @variant min-md {
            grid-column: -2/-1;
            grid-row: 2/3;
            flex-direction: row;
            justify-self: initial;
        }

        &-item {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 60px;
            height: 60px;
            border: 1px solid var(--color-primary);
            border-radius: 50%;

            font-size: var(--text-lg);
            font-weight: 700;
            line-height: 1;

            background-image: radial-gradient(var(--color-secondary) 40%, var(--color-accent) 100%);

            span {
                font-size: 9px;
                font-weight: 400;
                opacity: 0.75;
            }

            &:first-child {
                span {
                    position: relative;
                    top: -4px;
                }
            }

            &:nth-child(n + 2) {
                flex-direction: column;
                row-gap: 2px;
            }
        }
    }

    &__list-info {
        display: flex;
        grid-column: 1/-1;
        flex-direction: column;
        row-gap: 10px;

        @variant min-md {
            grid-column: -2/-1;
            grid-row: 3/4;
        }

        &-item {
            display: flex;
            flex-wrap: wrap;
            column-gap: 6px;
            align-items: center;

            font-size: var(--text-lg);
            line-height: 1.2;

            &--link {
                flex-wrap: nowrap;

                a[href] {
                    @apply truncate u-link-color;
                }
            }

            &--tagline {
                margin-bottom: 10px;
                font-weight: 600;
                font-style: italic;
                opacity: 0.75;
            }

            & > *:first-child {
                opacity: 0.75;
            }

            & > *:last-child {
                font-weight: 600;
            }
        }
    }

    &__creators {
        grid-column: 1/-1;
        line-height: 1.2;

        &-title {
            margin-bottom: 10px;
            font-size: var(--text-xl);
            font-weight: 700;
        }

        &-list {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            align-items: center;
        }

        &-item {
            display: flex;
            column-gap: 10px;
            align-items: center;
        }

        &-logo {
            position: relative;

            overflow: hidden;
            flex-shrink: 0;

            aspect-ratio: 2/3;
            width: 50px;
            border-radius: 2px;

            background-color: var(--color-primary);

            img {
                padding: 1px;
                object-fit: contain;
            }
        }

        &-content {
            width: min-content;
            font-size: var(--text-lg);
            font-weight: 600;
        }
    }

    &__networks {
        grid-column: 1/-1;
        line-height: 1.2;

        &-title {
            margin-bottom: 10px;
            font-size: var(--text-xl);
            font-weight: 700;
        }

        &-list {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            align-items: center;
        }

        &-item {
            display: flex;
            column-gap: 10px;
            align-items: center;
        }

        &-logo {
            position: relative;

            overflow: hidden;
            flex-shrink: 0;

            aspect-ratio: 1/1;
            width: 50px;
            border-radius: 2px;

            background-color: var(--color-primary);

            img {
                padding: 1px;
                object-fit: contain;
            }
        }

        &-content {
            display: flex;
            flex-direction: column;
            row-gap: 6px;
        }
    }

    &__companies {
        grid-column: 1/-1;
        line-height: 1.2;

        &-title {
            margin-bottom: 10px;
            font-size: var(--text-xl);
            font-weight: 700;
        }

        &-list {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            align-items: center;
        }

        &-item {
            display: flex;
            column-gap: 10px;
            align-items: center;
        }

        &-logo {
            position: relative;

            overflow: hidden;
            flex-shrink: 0;

            aspect-ratio: 1/1;
            width: 50px;
            border-radius: 2px;

            background-color: var(--color-primary);

            img {
                padding: 1px;
                object-fit: contain;
            }
        }

        &-content {
            display: flex;
            flex-direction: column;
            row-gap: 6px;
        }
    }

    &__overview {
        grid-column: 1/-1;
        line-height: 1.2;

        &-title {
            margin-bottom: 10px;
            font-size: var(--text-xl);
            font-weight: 700;
        }

        &-text {
            font-size: 18px;
            opacity: 0.75;
        }
    }
}

/* .movie-card-details {
    padding-top: 20px;
    padding-bottom: 30px;
    line-height: 1;
}

@media screen and (width <= 767px) {
    .movie-card-details-wrapper-img {
        max-width: 450px;
        height: auto;
        margin-right: auto;
        margin-bottom: 20px;
        margin-left: auto;
    }

    .movie-card-details-description {
        max-width: 570px;
        margin-right: auto;
        margin-left: auto;
    }

    .movie-card-details-title {
        text-align: center;
    }
}

@media screen and (width >= 768px) {
    .movie-card-details {
        display: grid;
        grid-column-gap: 30px;
        grid-template-columns: 2fr 3fr;
    }

    .movie-card-details-wrapper-img {
        width: 100%;
        max-height: 600px;
    }
}

.movie-card-details-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (width >= 1024px) {
    .movie-card-details-img {
        object-fit: contain;
    }
}

.movie-card-details-title {
    margin-bottom: 20px;

    font-size: 28px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
}

.movie-card-details-list {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 500;
}

.movie-card-details-item:not(:last-child) {
    margin-bottom: 10px;
}

.movie-card-details-item > span {
    font-weight: 400;
}

.movie-card-details-overview,
.movie-card-details-genres,
.movie-card-details-companies {
    margin-bottom: 20px;
}

.movie-card-details-overview-title,
.movie-card-details-genres-title,
.movie-card-details-companies-title,
.movie-card-details-countries-title {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}

.movie-card-details-overview-text {
    padding-left: 20px;
    font-size: 20px;
    line-height: 1.1;
}

.movie-card-details-genres-list,
.movie-card-details-companies-list,
.movie-card-details-countries-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    font-size: 20px;
}

.movie-card-details-genres-item,
.movie-card-details-companies-item,
.movie-card-details-countries-item {
    line-height: 1.1;
}

.movie-card-details-genres-item:not(:last-child),
.movie-card-details-companies-item:not(:last-child),
.movie-card-details-countries-item:not(:last-child) {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid #111;
} */
