.p-person {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 40px;

    &__container {
        display: flex;
        flex-direction: column;
        row-gap: 30px;

        @media (--min-xxl) {
            max-width: 1440px;
        }
    }

    &__details {
        position: relative;
        width: 100%;
        color: var(--color-primary);

        &-backdrop {
            position: absolute;
            inset: 0;
            filter: blur(15px);

            &::after {
                content: '';
                position: absolute;
                inset: 0;
                background: rgba(0, 0, 0, 0.85);
            }

            img {
                z-index: -1;
                object-fit: cover;
            }
        }

        &-container {
            position: relative;

            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;

            padding-block: 40px 30px;

            @media (--min-md) {
                grid-template-columns: 328px 380px;
                grid-template-rows: max-content max-content 1fr;
            }

            @media (--min-lg) {
                grid-template-columns: 328px 636px;
            }

            @media (--min-xl) {
                grid-template-columns: 352px 908px;
            }

            @media (--min-xxl) {
                grid-template-columns: 352px 1028px;
                max-width: 1440px;
            }
        }

        &-cover {
            position: relative;

            overflow: hidden;
            justify-self: center;

            aspect-ratio: 2/3;
            width: 255px;
            border: 1px solid var(--color-accent-hover);
            border-radius: 4px;

            box-shadow: var(--shadow-custom-accent);

            img {
                object-fit: cover;
            }

            @media (--min-md) {
                grid-column: 1/2;
                grid-row: 1/4;
                justify-self: initial;
                width: 100%;
            }
        }

        &-adult {
            position: absolute;
            z-index: 1;
            top: 10px;
            inset-inline-start: 10px;

            padding: 5px;
            border: 1px solid var(--color-danger);
            border-radius: 2px;

            font-size: var(--text-sm);
            font-weight: 700;
            line-height: 1;
            color: var(--color-danger);

            background-color: var(--color-primary);

            span {
                position: relative;
                top: -4px;
            }
        }

        &-name {
            font-weight: 700;
            text-align: center;
            text-transform: uppercase;

            @media (--min-md) {
                grid-column: -2/-1;
                grid-row: 1/2;
                text-align:start;
            }
        }

        &-list-info {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            min-width: 1px;

            &-item {
                display: flex;
                flex-wrap: wrap;
                column-gap: 6px;
                align-items: center;

                font-size: var(--text-lg);
                line-height: 1.2;

                &--link {
                    flex-wrap: nowrap;
                }

                & > *:first-child {
                    opacity: 0.75;
                }

                & > *:last-child {
                    font-weight: 600;
                }
            }

            @media (--min-md) {
                grid-column: -2/-1;
                grid-row: 2/3;
            }
        }

        .c-socials {
            @media (--min-md) {
                grid-column: -2/-1;
                grid-row: 3/4;
                align-items: flex-start;
                height: fit-content;
            }
        }

        &-biography {
            line-height: 1.4;

            &-title {
                margin-bottom: 10px;
                font-size: var(--text-xl);
                font-weight: 700;
            }

            &-text {
                font-size: var(--text-md);
                opacity: 0.75;
            }

            & a[data-testid='more-button'],
            & a[data-testid='less-button'] {
                font-size: var(--text-md);
                font-weight: 700;
            }

            @media (--min-md) {
                grid-column: 1/-1;
            }
        }
    }

    &__gallery {
        padding-top: 30px;

        &-title {
            margin-top: -6px;
            font-weight: 700;
            text-transform: uppercase;
        }

        &-list {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: 10px;
            margin-top: 20px;

            @media (--min-sm) {
                grid-template-columns: repeat(3, minmax(0, 1fr));
            }

            @media (--min-md) {
                grid-template-columns: repeat(4, minmax(0, 1fr));
            }

            @media (--min-lg) {
                grid-template-columns: repeat(6, minmax(0, 1fr));
            }

            @media (--min-xl) {
                grid-template-columns: repeat(8, minmax(0, 1fr));
            }
        }
    }

    &__timeline {
        margin-inline: -10px;
        padding-top: 30px;
        padding-inline: 10px;
        border-top: 1px solid color-mix(in oklab, var(--color-primary) 75%, transparent);

        &-title {
            max-width: 984px;
            margin-top: -4px;
            margin-inline: auto;

            font-weight: 700;
            text-transform: uppercase;
        }

        &-list {
            display: flex;
            flex-direction: column;
            gap: 20px;

            max-width: 984px;
            margin-top: 20px;
            margin-inline: auto;
        }

        &-item {
            &-title {
                font-size: var(--text-xl);
                font-weight: 700;
                color: var(--color-primary);
                text-align: center;
            }

            &-list {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                margin-top: 10px;

                li {
                    width: 100%;

                    @media (--min-md) {
                        width: calc((100% - 10px) / 2);
                    }
                }
            }
        }

        @media (--min-xxxl) {
            margin-inline: -20px;
            padding-inline: 20px;
        }
    }
}
