@import '@/styles/components/no-search-results.css';
@import '@/styles/components/tabs.css';
@import '@/styles/components/forms/base.css';
@import '@/styles/components/forms/switch.css';
@import '@/styles/components/media-list.css';
@import '@/styles/components/pagination.css';
@import '@/styles/components/cards/media-card.css';