.p-search {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;

    padding-block: 30px;

    &__head {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media (--min-xl) {
            flex-direction: row;
            gap: 80px;
            width: 100%;
        }
    }

    &__search {
        position: relative;
        width: 100%;
        color: var(--color-primary);

        &-input {
            width: 100%;
            height: 40px;
            padding: 9px 38px;
            border: 1px solid var(--color-secondary);
            border-radius: 4px;

            font-size: var(--text-lg);
            font-weight: 600;
            line-height: 20px;

            background-color: var(--color-secondary);
            outline: none;

            transition-property: border-color;

            &:focus {
                border-color: var(--color-primary);
            }
        }

        &-clear {
            position: absolute;
            top: 50%;
            inset-inline-end: 0;
            transform: translateY(-50%);

            display: flex;
            align-items: center;
            justify-content: center;

            width: 38px;
            height: 38px;

            transition-property: opacity;

            @media (any-hover: hover) {
                &:hover {
                    opacity: 0.75;
                }
            }
        }

        @media (--min-xl) {
            flex-grow: 1;
            width: auto;
        }
    }

    &__filter {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        gap: 10px;
        align-items: center;
        justify-content: center;

        @media (--min-md) {
            flex-direction: row;
            gap: 15px;
        }

        @media (--min-lg) {
            gap: 20px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        align-items: center;

        width: 100%;

        @media (--min-md) {
            row-gap: 30px;
        }
    }

    @media (--min-md) {
        row-gap: 30px;
        padding-block: 40px;
    }
}
