@import './scroll-to-top.css';

.c-footer {
    padding-block: 20px;
    border-top: 2px solid var(--color-primary);
    color: var(--color-primary);
    background: linear-gradient(-90deg, var(--color-secondary) 50%, var(--color-accent) 100%);

    &__container {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        column-gap: 50px;
        align-items: center;
        justify-content: center;

        @media (--min-lg) {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__logos {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        align-items: center;
        justify-content: center;

        &-item {
            position: relative;
            transition-property: opacity;

            img {
                width: auto;
                max-height: 22px;
            }

            @media (any-hover: hover) {
                &:hover {
                    opacity: 0.75;
                }
            }
        }

        @media (--min-md) {
            gap: 40px;
        }
    }

    .c-logo {
        margin-block: -5px;
        font-size: var(--text-xl);

        &__img {
            width: auto;
            height: 30px;
        }
    }
}