.c-scroll-to-top {
    --icon-size: 20px;

    position: fixed;
    z-index: 100;
    bottom: 20px;
    inset-inline-end: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;
    border-radius: 2px;

    color: var(--color-secondary);

    background-color: var(--color-primary);

    transition-property: background-color, box-shadow, color;

    @variant min-lg {
        bottom: 84px;
    }

    i {
        rotate: -90deg;
    }

    @media (any-hover: hover) {
        &:hover {
            color: var(--color-primary);
            background-color: var(--color-accent-hover);
            box-shadow: var(--shadow-custom-accent);
        }
    }
}
