.c-scroll-to-top {
    --icon-size: 20px;

    @apply w-10 h-10 rounded-xs fixed bottom-5 right-5 flex items-center justify-center z-100 bg-primary text-secondary;

    transition-property: background-color, box-shadow, color;

    i {
        @apply -rotate-90;
    }

    @media (any-hover: hover) {
        &:hover {
            color: var(--color-primary);
            background-color: var(--color-accent-hover);
            box-shadow: var(--shadow-custom-accent);
        }
    }
}
