@import '@/styles/components/tabs.css';
@import '@/styles/components/pagination.css';
@import '@/styles/components/cards/movie-card.css';
@import '@/styles/components/cards/tv-show-card.css';
@import '@/styles/components/cards/person-card.css';