.p-trending {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;

    padding-block: 40px;

    &__title {
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
    }

    &__filter {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;

        @media (--min-md) {
            flex-direction: row;
            gap: 40px;
        }

        @media (--min-lg) {
            gap: 80px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        align-items: center;

        width: 100%;

        @media (--min-md) {
            row-gap: 30px;
        }
    }

    &__list {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat(auto-fill, 175px);
        justify-content: center;

        width: calc(100% + 20px);
        margin-inline: -10px;

        @media (--min-sm) {
            grid-gap: 10px;
            grid-template-columns: repeat(auto-fill, 215px);
            width: 100%;
            margin-inline: 0;
        }

        @media (--min-md) {
            grid-gap: 15px;
            grid-template-columns: repeat(auto-fill, 232px);
        }

        @media (--min-lg) {
            grid-gap: 20px;
            grid-template-columns: repeat(auto-fill, 231px);
        }

        @media (--min-xl) {
            grid-template-columns: repeat(auto-fill, 240px);
        }

        @media (--min-xxl) {
            grid-template-columns: repeat(auto-fill, 264px);
        }

        @media (--min-xxxl) {
            grid-template-columns: repeat(auto-fill, 296px);
        }
    }

    @media (--min-md) {
        row-gap: 30px;
    }
}
