@utility u-link {
    text-decoration: none;
    transition-property: opacity;

    @media (any-hover: hover) {
        &:hover {
            opacity: 0.75;
        }
    }
}

@utility u-link-color {
    color: var(--color-active);
    text-decoration: none;
    transition-property: opacity;

    @media (any-hover: hover) {
        &:hover {
            opacity: 0.75;
        }
    }
}

@utility u-overlay {
    &::before {
        content: '';

        position: absolute;
        z-index: 1;
        inset: 0;

        display: block;
    }
}