@utility u-link {
    text-decoration: none;
    transition-property: opacity;

    @media (any-hover: hover) {
        &:hover {
            opacity: 0.75;
        }
    }
}

@utility u-link-color {
    color: var(--color-active);
    text-decoration: none;
    transition-property: opacity;

    @media (any-hover: hover) {
        &:hover {
            opacity: 0.75;
        }
    }
}

@utility u-overlay {
    &::before {
        content: '';

        position: absolute;
        z-index: 1;
        inset: 0;

        display: block;
    }
}

@utility u-hide-scroll-bar {
    scrollbar-color: transparent transparent;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    &::-webkit-scrollbar-track {
        display: none;
    }

    &::-webkit-scrollbar-thumb {
        display: none;
    }
}

@utility u-scroll {
    overflow: auto hidden;
    display: flex;
    width: calc(100% + 40px);
    margin-inline: -20px;

    &::after,
    &::before {
        content: '';
        display: block;
        flex-shrink: 0;
        width: 20px;
    }
}