.p-home {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: center;

    padding-block: 40px;

    &__block {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        align-items: center;

        width: 100%;

        @media (--min-md) {
            row-gap: 30px;
        }
    }

    &__title {
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
    }

    &__show-all-button {
        display: block;

        width: fit-content;
        min-width: 250px;
        min-height: 40px;
        margin-inline: auto;
        padding: 7px 16px;
        border-radius: 4px;

        font-size: var(--text-md);
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;

        background-color: var(--color-active);

        transition-property: opacity;

        @media (any-hover: hover) {
            &:hover {
                opacity: 0.75;
            }
        }
    }
}
