.p-home {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: center;

    padding-block: 40px;

    &__block {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        align-items: center;

        width: 100%;

        @media (--min-md) {
            row-gap: 30px;
        }
    }

    &__title {
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
    }

    &__list {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat(auto-fill, 175px);
        justify-content: center;

        width: calc(100% + 20px);
        margin-inline: -10px;

        @media (--min-sm) {
            grid-gap: 10px;
            grid-template-columns: repeat(auto-fill, 215px);
            width: 100%;
            margin-inline: 0;
        }

        @media (--min-md) {
            grid-gap: 15px;
            grid-template-columns: repeat(auto-fill, 232px);
        }

        @media (--min-lg) {
            grid-gap: 20px;
            grid-template-columns: repeat(auto-fill, 231px);
        }

        @media (--min-xl) {
            grid-template-columns: repeat(auto-fill, 240px);
        }

        @media (--min-xxl) {
            grid-template-columns: repeat(auto-fill, 264px);
        }

        @media (--min-xxxl) {
            grid-template-columns: repeat(auto-fill, 296px);
        }
    }

    &__show-all-button {
        display: block;

        width: fit-content;
        min-width: 250px;
        min-height: 40px;
        margin-inline: auto;
        padding: 7px 16px;
        border-radius: 4px;

        font-size: var(--text-md);
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;

        background-color: var(--color-active);

        transition-property: opacity;

        @media (any-hover: hover) {
            &:hover {
                opacity: 0.75;
            }
        }
    }
}
