/* Tailwind */
@import '@/styles/tailwind/base.css';

/* Media */
@import '@/styles/media.css';

/* App */
@import '@/styles/app/reset.css' layer(base);

/* Parts */
@import '@/styles/parts/header/header.css' layer(base);
@import '@/styles/parts/footer/footer.css' layer(base);

/* Layouts */
@import '@/styles/layouts/container.css' layer(utilities);

/* Components */
@import '@/styles/components/loader.css';
@import '@/styles/components/error-404.css';
@import '@/styles/components/popover.css';
@import '@/styles/components/icon.css';
@import '@/styles/components/logo.css';
@import '@/styles/components/title.css';

/* Utilities */
@import '@/styles/utilities/base.css';