@custom-media --min-xs (min-width: 375px);
@custom-media --max-xs (max-width: 479px);
@custom-media --min-sm (min-width: 480px);
@custom-media --max-sm (max-width: 767px);
@custom-media --min-md (min-width: 768px);
@custom-media --max-md (max-width: 1023px);
@custom-media --min-lg (min-width: 1024px);
@custom-media --max-lg (max-width: 1319px);
@custom-media --min-xl (min-width: 1320px);
@custom-media --max-xl (max-width: 1439px);
@custom-media --min-xxl (min-width: 1440px);
@custom-media --max-xxl (max-width: 1599px);
@custom-media --min-xxxl (min-width: 1600px);
