.l-page {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .l-page__content {
        overflow-y: auto;
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        grid-template-rows: max-content;
        flex-grow: 1;
        gap: 20px;

        padding: 20px;
    }
}