@import '../../../styles/app-base.css';
@import '../../../styles/app.css';

.p-home {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;

    padding-block: 30px;

    &__filter {
        display: flex;
        flex-wrap: wrap;
        row-gap: 20px;
        column-gap: 80px;
        align-items: center;
        justify-content: center;
    }

    &__content {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        align-items: center;

        width: 100%;

        @variant min-md {
            row-gap: 30px;
        }
    }

    &__media-list {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat(auto-fill, 175px);
        justify-content: center;

        width: calc(100% + 20px);
        margin-inline: -10px;

        @variant min-sm {
            grid-gap: 10px;
            grid-template-columns: repeat(auto-fill, 215px);
            width: 100%;
            margin-inline: 0;
        }

        @variant min-md {
            grid-gap: 15px;
            grid-template-columns: repeat(auto-fill, 232px);
        }

        @variant min-lg {
            grid-gap: 20px;
            grid-template-columns: repeat(auto-fill, 296px);
        }
    }

    @variant min-md {
        row-gap: 30px;
    }
}
