@import '../../../../../../styles/app/base.css';
@import './components.css';

.p-tv-show-similar {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;

    padding-top: 20px;
    padding-bottom: 30px;

    &__title {
        @apply font-bold uppercase text-center;
    }

    &__content {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        align-items: center;

        width: 100%;

        @variant min-md {
            row-gap: 30px;
        }
    }

    &__list {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat(auto-fill, 175px);
        justify-content: center;

        width: calc(100% + 20px);
        margin-inline: -10px;

        @variant min-sm {
            grid-gap: 10px;
            grid-template-columns: repeat(auto-fill, 215px);
            width: 100%;
            margin-inline: 0;
        }

        @variant min-md {
            grid-gap: 15px;
            grid-template-columns: repeat(auto-fill, 232px);
        }

        @variant min-lg {
            grid-gap: 20px;
            grid-template-columns: repeat(auto-fill, 231px);
        }

        @variant min-xl {
            grid-template-columns: repeat(auto-fill, 240px);
        }

        @variant min-xxl {
            grid-template-columns: repeat(auto-fill, 243px);
        }
    }

    @variant min-md {
        row-gap: 30px;
    }
}
