.p-season {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;

    padding-block: 20px 40px;

    &__current-season {
        display: flex;
        flex-direction: column;

        width: calc(100% + 20px);
        margin-inline: -10px;
        border-radius: 4px;

        color: var(--color-primary);

        background-color: var(--color-secondary);
        background-image: conic-gradient(from 90deg at 1px 1px, transparent 25%, rgba(255, 255, 255, 0.1) 0%);
        background-size: 0.5rem 0.5rem;

        @variant min-sm {
            width: 100%;
            margin-inline: 0;
        }

        @variant min-lg {
            flex-direction: row;
        }

        &-inner {
            display: flex;
            flex-grow: 1;
            align-items: center;
        }

        &-cover {
            position: relative;

            flex-shrink: 0;
            align-self: flex-start;

            aspect-ratio: 2/3;
            width: 62px;

            @variant min-md {
                width: 75px;
            }

            @variant min-xl {
                width: 86px;
            }

            img {
                object-fit: cover;
            }
        }

        &-info {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            gap: 4px;

            min-width: 1px;
            height: 100%;
            padding: 10px;

            color: var(--color-primary);

            @variant min-md {
                gap: 8px;
                padding-inline-end: 20px;
            }

            @variant min-xl {
                gap: 10px;
            }
        }

        &-tv-show-title {
            font-weight: 700;
            line-height: 1.05;

            a[href] {
                overflow: hidden;
                display: inline-block;

                max-width: 100%;

                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        &-title {
            overflow: hidden;

            font-weight: 700;
            line-height: 1;
            text-overflow: ellipsis;
            white-space: nowrap;

            @variant min-md {
                font-size: var(--text-lg);
            }

            @variant min-xl {
                font-size: var(--text-2xl);
            }
        }

        &-tags {
            display: flex;
            gap: 10px;
        }

        &-tag {
            padding: 4px;
            border-style: solid;
            border-width: 1px;
            border-radius: 2px;

            font-size: var(--text-2xs);
            font-weight: 700;
            line-height: 1;
            text-transform: uppercase;

            &--type {
                border-color: var(--color-secondary);
                color: var(--color-secondary);
                background-color: var(--color-primary);
            }

            &--average {
                border-color: var(--color-primary);
                color: var(--color-primary);
                background-color: var(--color-accent);

                span {
                    position: relative;
                    top: -2px;
                    font-size: 9px;
                }
            }
        }

        &-overview {
            padding: 10px;
            font-size: var(--text-xs);
            line-height: 1.4;

            @variant min-md {
                padding-inline: 20px;
                font-size: var(--text-sm);
            }

            @variant min-lg {
                width: 50%;
            }

            &-text {
                opacity: 0.75;
            }

            & a[data-testid='more-button'],
            & a[data-testid='less-button'] {
                font-weight: 700;

                @apply u-link-color;
            }
        }
    }

    &__list {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat(auto-fill, 175px);
        justify-content: center;

        width: calc(100% + 20px);
        margin-inline: -10px;

        @variant min-sm {
            grid-gap: 10px;
            grid-template-columns: repeat(auto-fill, 215px);
            width: 100%;
            margin-inline: 0;
        }

        @variant min-md {
            grid-gap: 15px;
            grid-template-columns: repeat(auto-fill, 232px);
        }

        @variant min-lg {
            grid-gap: 20px;
            grid-template-columns: repeat(auto-fill, 231px);
        }

        @variant min-xl {
            grid-template-columns: repeat(auto-fill, 240px);
        }

        @variant min-xxl {
            grid-template-columns: repeat(auto-fill, 216px);
        }

        @variant min-xxxl {
            grid-template-columns: repeat(auto-fill, 243px);
        }
    }

    @variant min-md {
        row-gap: 30px;
    }
}
