@import '../../../../styles/app/base.css';
@import '../../../../styles/app/components.css';

.p-registration {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;

    padding-block: 30px;

    &__title {
        @apply font-bold uppercase text-center;
    }

    &__form {
        @apply w-full max-w-[728px];

        &-fields {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
        }

        &-button {
            display: block;

            width: 100%;
            max-width: 335px;
            min-height: 50px;
            margin-top: 40px;
            margin-inline: auto;
            padding: 12px 24px;
            border-radius: 4px;

            font-size: var(--text-lg);
            font-weight: 700;
            text-align: center;
            text-transform: uppercase;

            background-color: var(--color-active);

            transition-property: opacity;

            @media (any-hover: hover) {
                &:hover {
                    opacity: 0.75;
                }
            }
        }
    }

    @variant min-md {
        row-gap: 30px;
    }
}
