.Ñ-episode-card {
    position: relative;

    overflow: hidden;
    display: block;

    height: 100%;
    border-radius: 4px;

    background-color: var(--color-secondary);

    &__cover {
        position: relative;
        aspect-ratio: 300/169;
        width: 100%;

        img {
            object-fit: cover;
        }
    }

    &__info {
        padding: 10px;
        line-height: 1.2;
        color: var(--color-primary);

        &-name {
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;

            font-size: var(--text-md);
            font-weight: 700;
            text-transform: uppercase;
        }

        &-list {
            display: flex;
            flex-direction: column;
            row-gap: 4px;
            margin-top: 12px;

            &-item {
                display: flex;
                flex-wrap: wrap;
                column-gap: 6px;
                align-items: center;

                font-size: var(--text-xs);

                & > *:first-child {
                    opacity: 0.75;
                }

                & > *:last-child {
                    font-weight: 600;
                }
            }
        }
    }

    /* &__overview {
        padding: 10px;

        font-size: var(--text-sm);
        line-height: 1.25;
        color: var(--color-primary);

        opacity: 0.75;

        @variant min-lg {
            width: 50%;
        }

        @variant min-xl {
            padding-inline: 20px;
        }
    } */
}
