.c-media-card {
    position: relative;

    overflow: hidden;
    display: block;

    border: 1px solid var(--color-accent);
    border-radius: 4px;

    transition-property: transform, box-shadow, border-color;

    &__tags {
        position: absolute;
        top: 10px;
        inset-inline: 10px;

        display: flex;
        gap: 6px;

        @media (--min-md) {
            gap: 10px;
        }
    }

    &__tag {
        padding: 4px;
        border-style: solid;
        border-width: 1px;
        border-radius: 2px;

        font-size: var(--text-3xs);
        font-weight: 700;
        line-height: 1;
        text-transform: uppercase;

        &--type {
            border-color: var(--color-secondary);
            color: var(--color-secondary);
            background-color: var(--color-primary);
        }

        &--date {
            border-color: var(--color-primary);
            color: var(--color-primary);
            background-color: var(--color-active);
        }

        &--adult {
            border-color: var(--color-danger);
            color: var(--color-danger);
            background-color: var(--color-primary);

            span {
                position: relative;
                top: -3px;
            }
        }

        &--average,
        &--popularity {
            margin-inline-start: auto;
            border-color: var(--color-primary);
            color: var(--color-primary);
            background-color: var(--color-accent);

            span {
                position: relative;
                top: -2px;
                font-size: 9px;

                @media (--min-md) {
                    top: -3px;
                    font-size: var(--text-3xs);
                }
            }
        }

        @media (--min-md) {
            font-size: var(--text-xs);
        }
    }

    &__cover {
        position: relative;
        aspect-ratio: 2/3;
        width: 100%;

        img {
            object-fit: cover;
        }
    }

    &__footer {
        display: flex;
        align-items: center;

        height: 49px;
        padding: 5px 10px;

        font-size: var(--text-sm);
        font-weight: 700;
        line-height: 1.2;
        color: var(--color-primary);

        background: linear-gradient(-90deg, var(--color-secondary) 50%, var(--color-accent) 100%);

        &-title {
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }

        &-name {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        &-department {
            overflow: hidden;

            font-size: var(--text-xs);
            font-weight: 600;
            text-overflow: ellipsis;
            white-space: nowrap;

            opacity: 0.75;

            @media (--min-md) {
                font-size: var(--text-sm);
            }
        }

        @media (--min-md) {
            height: 54px;
            font-size: var(--text-md);
        }
    }

    @media (any-hover: hover) {
        &:hover {
            transform: scale(1.02);
            border-color: var(--color-accent-hover);
            box-shadow: var(--shadow-custom-accent);
        }
    }
}
