.c-production-company-details-card {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 100%;

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 6px;
    }

    &__item {
        display: flex;
        flex-wrap: wrap;
        column-gap: 6px;
        align-items: center;

        &--link {
            flex-wrap: nowrap;

            a[href] {
                @apply truncate u-link-color;
            }
        }

        & > *:first-child {
            opacity: 0.75;
        }

        & > *:last-child {
            font-weight: 600;
        }
    }

    &__description {
        line-height: 1.4;
        opacity: 0.75;

        & a[data-testid='more-button'],
        & a[data-testid='less-button'] {
            @apply u-link-color;
        }
    }
}