.c-review-card {
    position: relative;

    display: flex;
    flex-direction: column;
    row-gap: 20px;

    padding: 10px;
    border-radius: 4px;

    background-color: var(--color-primary);
    background-image: conic-gradient(from 90deg at 1px 1px, transparent 25%, rgba(34, 34, 34, 0.1) 0%);
    background-size: 0.5rem 0.5rem;

    .p-movie-reviews & {
        @variant min-md {
            padding: 20px;
        }
    }

    &__avatar {
        position: relative;

        overflow: hidden;
        flex-shrink: 0;

        width: 90px;
        height: 90px;
        border-radius: 4px;

        img {
            object-fit: cover;
        }
    }

    &__tag {
        position: absolute;
        top: 4px;
        inset-inline-end: 4px;

        padding: 2px;
        border: 1px solid var(--color-primary);
        border-radius: 2px;

        font-size: 11px;
        font-weight: 700;
        line-height: 1;
        color: var(--color-primary);

        background-color: var(--color-accent);

        span {
            position: relative;
            top: -2px;
            font-size: 8px;
        }
    }

    &__inner {
        display: flex;
    }

    &__info {
        display: flex;
        flex-direction: column;
        row-gap: 4px;

        min-width: 1px;
        height: 100%;
        padding-inline-start: 10px;

        color: var(--color-secondary);

        .p-movie-reviews & {
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: 40px;

            @variant min-md {
                padding-inline-start: 20px;
            }
        }

        &-name {
            display: flex;
            flex-direction: column;
            row-gap: 4px;

            width: 100%;

            font-weight: 700;
            line-height: 1.2;

            .p-movie-reviews & {
                width: auto;
            }
        }

        &-list {
            display: flex;
            flex-direction: column;
            row-gap: 4px;

            &-item {
                display: flex;
                flex-wrap: wrap;
                column-gap: 6px;
                align-items: center;

                font-size: var(--text-xs);

                & > *:first-child {
                    opacity: 0.75;
                }

                & > *:last-child {
                    font-weight: 600;
                }
            }
        }
    }

    &__name {
        overflow: hidden;
        font-size: var(--text-lg);
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__username {
        overflow: hidden;

        font-size: var(--text-sm);
        font-style: italic;
        text-overflow: ellipsis;
        white-space: nowrap;

        opacity: 0.75;
    }

    &__content {
        font-size: var(--text-xs);
        line-height: 1.4;

        & a[data-testid='more-button'],
        & a[data-testid='less-button'] {
            font-weight: 700;

            @apply u-link-color;
        }
    }
}
