.c-season-card {
    overflow: hidden;
    display: grid;
    grid-template-columns: 105px 1fr;

    border: 1px solid var(--color-accent);
    border-radius: 4px;

    background-color: var(--color-secondary);

    transition-property: transform, box-shadow, border-color;

    &__cover {
        position: relative;
        aspect-ratio: 2/3;
        width: 100%;

        img {
            object-fit: cover;
        }
    }

    &__info {
        padding: 10px;
        line-height: 1.2;
        color: var(--color-primary);

        &-name {
            font-size: var(--text-lg);
            font-weight: 700;
            text-transform: uppercase;
        }

        &-list {
            display: flex;
            flex-direction: column;
            row-gap: 6px;
            margin-top: 16px;

            &-item {
                display: flex;
                flex-wrap: wrap;
                column-gap: 6px;
                align-items: center;

                font-size: var(--text-sm);

                & > *:first-child {
                    opacity: 0.75;
                }

                & > *:last-child {
                    font-weight: 600;
                }

                &--rating {
                    span {
                        position: relative;
                        top: -4px;
                        font-size: var(--text-3xs);
                    }
                }
            }
        }
    }

    @media (any-hover: hover) {
        &:hover {
            transform: scale(1.02);
            border-color: var(--color-accent-hover);
            box-shadow: var(--shadow-custom-accent);
        }
    }
}
