.с-tv-card {
    position: relative;

    overflow: hidden;
    display: block;

    border: 1px solid var(--color-accent);
    border-radius: 4px;

    transition-property: transform, box-shadow, border-color;

    &:hover {
        transform: scale(1.02);
        border-color: var(--color-accent-hover);
        box-shadow: 0 4px 16px rgba(8, 88, 125, 0.6);
    }

    &__tag {
        position: absolute;
        top: 10px;
        left: 10px;

        padding: 4px;
        border-radius: 2px;

        font-size: var(--text-2xs);
        font-weight: 700;
        line-height: 1;
        color: var(--color-secondary);
        text-transform: uppercase;

        background-color: var(--color-primary);

        @variant min-md {
            padding: 5px;
            font-size: var(--text-xs);
        }
    }

    &__average {
        position: absolute;
        top: 10px;
        right: 10px;

        padding: 4px;
        border-radius: 2px;

        font-size: var(--text-2xs);
        font-weight: 700;
        line-height: 1;
        color: var(--color-primary);
        text-transform: uppercase;

        background-color: var(--color-accent);

        @variant min-md {
            padding: 5px;
            font-size: var(--text-xs);
        }
    }

    &__cover {
        position: relative;
        width: 100%;
        height: 259px;

        @variant min-sm {
            height: 319px;
        }

        @variant min-md {
            height: 345px;
        }

        @variant min-lg {
            height: 441px;
        }

        img {
            object-fit: cover;
        }
    }

    &__footer {
        display: flex;
        align-items: center;

        height: 49px;
        padding: 5px 10px;

        background-image: linear-gradient(90deg, #222 50%, var(--color-accent) 100%);

        @variant min-md {
            height: 54px;
        }

        @variant min-lg {
            height: 58px;
        }

        &-title {
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;

            font-size: var(--text-sm);
            font-weight: 700;
            line-height: 1.2;
            color: var(--color-primary);

            @variant min-md {
                font-size: var(--text-md);
            }

            @variant min-lg {
                font-size: var(--text-lg);
            }
        }
    }
}
