@import '../../../../../styles/app-base.css';
@import '../../../../../styles/app.css';

.p-tv-show-similar {
    /* display: flex;
    align-items: center;
    justify-content: center; */

    /* flex-direction: column; */

    /* row-gap: 20px; */

    width: 100%;

    /* &__content {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        align-items: center;

        width: 100%;
    } */
}
