*,
*::before,
*::after {
    transition-timing-function: linear;
    transition-duration: 150ms;
    transition-property: none;
}

html {
    height: 100%;
}

body {
    scroll-behavior: smooth;

    display: flex;
    flex-direction: column;

    min-height: 100vh;
    margin: 0;
    padding: 0;

    font-size-adjust: 0.5;
    -webkit-font-smoothing: antialiased;
    line-height: 1.4;
    color: var(--color-secondary);
    text-size-adjust: 100%;
    text-rendering: optimizelegibility !important;

    background-color: var(--color-bg-body);
    background-image: url('/img/inspiration-geometry.png');

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

main {
    display: flex;
    flex-grow: 1;
}

button {
    cursor: pointer;
}

picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

a[data-testid='more-button'],
a[data-testid='less-button'] {
    @apply u-link-color;
}