:root {
    --f-field-border-width: 1px;
    --f-field-border-color: var(--color-secondary);
    --f-field-border-radius: 4px;
    --f-field-height: 50px;
    --f-field-px: 20px;
    --f-field-bg: var(--color-secondary);
    --f-field-color: var(--color-white);
    --f-field-font-size: var(--text-md);
    --f-field-font-weight: 600;
    --f-field-line-height: 20px;
    --f-field-icon-size: 20px;
}

.f-field {
    display: block;

    width: 100%;
    min-height: var(--f-field-height);
    padding: calc(var(--f-field-height) / 2 - var(--f-field-border-width) -
    var(--f-field-line-height) / 2) var(--f-field-px);
    border: var(--f-field-border-width) solid var(--f-field-border-color);
    border-radius: var(--f-field-border-radius);

    font-size: var(--f-field-font-size);
    font-weight: var(--f-field-font-weight);
    line-height: var(--f-field-line-height);
    color: var(--f-field-color);

    background-color: var(--f-field-bg);
    outline: none;

    transition-property: border-color;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        appearance: none;
    }

    &:-webkit-autofill {
        background-color: transparent;

        -webkit-text-fill-color: var(--color-black);
    }

    &[type='number'] {
        appearance: textfield;
    }

    &:has(~ .f-field__section) {
        padding-inline-end: var(--f-field-height);
    }

    .f-field__section ~ & {
        padding-inline-start: var(--f-field-height);
    }

    &:focus {
        --f-field-border-color: var(--color-white);
    }

    &__wrapper {
        position: relative;
    }

    &__section {
        --icon-size: 20px;

        position: absolute;
        top: 0;
        inset-inline-start: var(--f-field-border-width);

        display: flex;
        align-items: center;
        justify-content: center;

        min-width: var(--f-field-height);
        height: var(--f-field-height);

        font-size: var(--f-field-icon-size);
        color: var(--f-field-color);
        text-decoration: none;

        .f-field + & {
            inset-inline-start: initial;
            inset-inline-end: var(--f-field-border-width);
            color: var(--f-field-color);
        }
    }

    &--error {
        --f-field-border-color: var(--color-red);
    }
}
