:root {
    --f-switch-border-width: 1px;
    --f-switch-border-color: var(--color-accent);
    --f-switch-border-radius: 999px;
    --f-switch-height: 26px;
    --f-switch-width: 52px;
    --f-switch-gap: 7px;
    --f-switch-bg: var(--color-accent);
    --f-switch-color: var(--color-primary);
    --f-switch-font-size: var(--text-2xs);
    --f-switch-font-weight: 600;
    --f-switch-label-font-size: var(--text-xs);
    --f-switch-label-font-weight: 700;
    --f-switch-icon-thumb-size: 18px;
    --f-switch-icon-size: 12px;
    --f-switch-icon-left: 3px;
    --f-switch-icon-bg: var(--color-primary);
    --f-switch-icon-color: var(--color-primary);

    @media (--min-sm) {
        --f-switch-height: 30px;
        --f-switch-width: 60px;
        --f-switch-gap: 8px;
        --f-switch-font-size: var(--text-xs);
        --f-switch-label-font-size: var(--text-sm);
        --f-switch-icon-thumb-size: 20px;
        --f-switch-icon-size: 14px;
        --f-switch-icon-left: 4px;
    }

    @media (--min-md) {
        --f-switch-height: 40px;
        --f-switch-width: 80px;
        --f-switch-gap: 12px;
        --f-switch-font-size: var(--text-md);
        --f-switch-label-font-size: var(--text-lg);
        --f-switch-icon-thumb-size: 28px;
        --f-switch-icon-size: 20px;
        --f-switch-icon-left: 5px;
    }
}

.f-switch {
    display: flex;
    column-gap: var(--f-switch-gap);
    align-items: center;

    font-size: var(--f-switch-font-size);
    font-weight: var(--f-switch-font-weight);
    color: var(--f-switch-color);

    &__inner {
        cursor: pointer;

        position: relative;

        display: flex;
        align-items: center;

        width: var(--f-switch-width);
        height: var(--f-switch-height);
        border: var(--f-switch-border-width) solid var(--f-switch-border-color);
        border-radius: var(--f-switch-border-radius);

        appearance: none;
        background-color: var(--f-switch-bg);

        transition-property: background-color, border-color;

        .f-switch__field:checked + & {
            --f-switch-bg: var(--color-active);
            --f-switch-border-color: var(--color-active);
        }
    }

    &__icon {
        --icon-size: var(--f-switch-icon-size);

        position: absolute;
        z-index: 1;
        inset-inline-start: var(--f-switch-icon-left);

        display: flex;
        align-items: center;
        justify-content: center;

        width: var(--f-switch-icon-thumb-size);
        height: var(--f-switch-icon-thumb-size);
        border-radius: 50%;

        color: var(--f-switch-icon-color);

        background-color: var(--f-switch-icon-bg);

        transition-property: left, color, background-color;

        i {
            opacity: 0;
            transition-property: opacity;
        }

        .f-group--disabled & {
            opacity: 0.5;
        }

        .f-switch__field:checked + .f-switch__inner & {
            --f-switch-icon-bg: var(--color-secondary);

            inset-inline-start: calc(100% - (var(--f-switch-icon-left) + var(--f-switch-icon-thumb-size)));

            i {
                opacity: 1;
            }
        }
    }

    &__text {
        user-select: none;

        display: flex;
        align-items: center;
        justify-content: center;

        width: calc(100% - (var(--f-switch-icon-left) + var(--f-switch-icon-thumb-size)));
        height: 100%;
        margin-inline-start: calc(var(--f-switch-icon-left) + var(--f-switch-icon-thumb-size));

        line-height: 1;
        text-transform: uppercase;

        transition-property: margin, color;

        .f-switch__field:checked + .f-switch__inner & {
            margin-inline-start: 0;
            margin-inline-end: calc(var(--f-switch-icon-left) + var(--f-switch-icon-thumb-size));
            color: var(--color-secondary);
        }
    }

    &__label {
        font-size: var(--f-switch-label-font-size);
        font-weight: var(--f-switch-label-font-weight);
        line-height: 1.2;
        text-transform: uppercase;
    }
}