@import './navigation.css';

.c-header {
    position: sticky;
    z-index: 5;
    top: 0;

    padding-block: 11px;
    border-bottom: 2px solid var(--color-primary);

    background: linear-gradient(90deg, var(--color-secondary) 50%, var(--color-accent) 100%);

    &__container {
        display: flex;
        column-gap: 21px;
        align-items: center;
        justify-content: space-between;
    }

    @variant min-lg {
        padding-block: 15px;
    }
}
