.c-navigation {
    flex-shrink: 0;

    &__list {
        display: flex;
        column-gap: 15px;
        align-items: center;

        @variant min-sm {
            column-gap: 20px;
        }
    }

    &__search {
        width: 440px;
        border-color: var(--color-accent-hover);
        background-color: var(--color-secondary);
        box-shadow: var(--shadow-custom-accent);

        &-form {
            display: flex;
            column-gap: 10px;
            align-items: center;
        }

        &-input {
            flex-grow: 1;

            min-width: 1px;
            height: 40px;
            padding: 10px;
            border: 1px solid var(--color-active);
            border-radius: 4px;

            font-size: var(--text-sm);
            font-weight: 600;
            line-height: 16px;
            color: var(--color-primary);

            background-color: var(--color-secondary);
            outline: none;
        }

        &-button {
            display: block;
            flex-shrink: 0;

            min-height: 40px;
            padding: 5px 10px;
            border-radius: 4px;

            font-size: var(--text-sm);
            font-weight: 600;
            text-align: center;

            background-color: var(--color-active);

            transition-property: opacity;

            @media (any-hover: hover) {
                &:hover {
                    opacity: 0.75;
                }
            }
        }
    }

    &__link {
        position: relative;

        display: flex;
        column-gap: 10px;
        align-items: center;

        padding: 6px;

        line-height: 1;
        color: var(--color-primary);

        transition-property: opacity;

        &::before,
        &::after {
            content: '';

            position: absolute;
            bottom: 0;

            width: 0;
            height: 2px;

            opacity: 0.5;
            background-color: currentcolor;

            transition-property: width, opacity;
        }

        &::before {
            inset-inline-end: 50%;
        }

        &::after {
            inset-inline-start: 50%;
        }

        &:not(.c-navigation__link--is-disabled):hover {
            @media (any-hover: hover) {
                opacity: 0.75;

                &::before,
                &::after {
                    width: 50%;
                }
            }
        }

        &--is-active {
            @media (any-hover: hover) {
                &::before,
                &::after {
                    width: 50%;
                    opacity: 1;
                }
            }
        }

        &--is-disabled {
            pointer-events: none;
            cursor: default;
        }
    }

    &__img {
        width: auto;
        height: 24px;
    }

    &__text {
        @apply sr-only;

        font-size: var(--text-md);
        font-weight: 700;
        text-transform: uppercase;

        @variant min-lg {
            @apply not-sr-only;
        }
    }
}