.c-navigation {
    flex-shrink: 0;

    &__list {
        display: flex;
        column-gap: 20px;
        align-items: center;

        @variant min-md {
            column-gap: 30px;
        }
    }

    &__link {
        position: relative;

        display: flex;
        column-gap: 10px;
        align-items: center;

        padding: 6px;

        line-height: 1;
        color: var(--color-primary);

        &::before,
        &::after {
            content: '';

            position: absolute;
            bottom: -1px;

            width: 0;
            height: 2px;

            opacity: 0.5;
            background-color: currentcolor;

            transition-property: width, opacity;

            @variant min-md {
                bottom: -2px;
                height: 3px;
            }
        }

        &::before {
            right: 50%;
        }

        &::after {
            left: 50%;
        }

        &:hover::before,
        &:hover::after {
            @media (any-hover: hover) {
                width: 50%;
            }
        }

        &--is-active::before,
        &--is-active::after {
            @media (any-hover: hover) {
                width: 50%;
                opacity: 1;
            }
        }
    }

    &__img {
        width: auto;
        height: 24px;
    }

    &__text {
        @apply sr-only;

        font-size: var(--text-md);
        font-weight: 700;
        text-transform: uppercase;

        @variant min-md {
            font-size: var(--text-2xl);

            @apply not-sr-only;
        }
    }
}