@utility u-link {
    text-decoration: none;
    transition-property: opacity;

    @media (any-hover: hover) {
        &:hover {
            opacity: 0.75;
        }
    }
}

@utility u-link-color {
    color: var(--color-link);
    text-decoration: none;
    transition-property: color;

    &:hover {
        color: var(--color-link-hover);
    }
}

@utility u-link-overlay {
    transition-property: opacity;

    &::before {
        content: '';

        position: absolute;
        z-index: 1;
        inset: 0;

        display: block;
    }

    &:hover {
        opacity: 0.75;
    }
}

@utility u-hide-scroll-bar {
    scrollbar-color: transparent transparent;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    &::-webkit-scrollbar-track {
        display: none;
    }

    &::-webkit-scrollbar-thumb {
        display: none;
    }
}

@utility u-scroll {
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;

    width: calc(100% + 40px);
    margin-inline: -20px;

    &::after,
    &::before {
        content: '';
        display: block;
        flex-shrink: 0;
        width: 20px;
    }
}