.p-movie-reviews {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;

    padding-block: 20px 40px;

    &__title {
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
    }

    &__content {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        align-items: center;

        width: 100%;

        @variant min-md {
            row-gap: 30px;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 20px;
        width: 100%;
    }

    @variant min-md {
        row-gap: 30px;
    }
}
