@import '../../../../styles/app/base.css';
@import '../../../../styles/app/components.css';

.p-movie {
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    width: 100%;
    padding-bottom: 30px;

    &__container {
        @apply flex flex-col gap-y-[30px];
        @apply xxl:max-w-[1440px];
    }
}

.Ñ-movie-details {
    position: relative;
    width: 100%;
    color: var(--color-primary);

    &__backdrop {
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.85);

        img {
            z-index: -1;
            object-fit: cover;
        }
    }

    &__container {
        position: relative;

        display: grid;
        grid-template-columns: 1fr 60px;
        gap: 20px;

        padding-block: 30px;

        @variant min-sm {
            grid-template-columns: 1fr 112px;
        }

        @variant min-md {
            grid-template-columns: 328px 380px;
            grid-template-rows: max-content max-content 1fr;
        }

        @variant min-lg {
            grid-template-columns: 328px 636px;
        }

        @variant min-xl {
            grid-template-columns: 352px 908px;
        }

        @variant min-xxl {
            grid-template-columns: 352px 1028px;
            max-width: 1440px;
        }
    }

    &__cover {
        position: relative;

        overflow: hidden;
        flex-shrink: 0;

        aspect-ratio: 2/3;
        width: 255px;
        border: 1px solid var(--color-accent-hover);
        border-radius: 4px;

        box-shadow: var(--shadow-custom-accent);

        @variant min-sm {
            justify-self: end;
        }

        @variant min-md {
            grid-column: 1/2;
            grid-row: 1/4;
            justify-self: initial;
            width: 100%;
        }

        img {
            object-fit: cover;
        }
    }

    &__adult {
        position: absolute;
        z-index: 1;
        top: 10px;
        left: 10px;

        padding: 5px;
        border: 1px solid var(--color-danger);
        border-radius: 2px;

        font-size: var(--text-sm);
        font-weight: 700;
        line-height: 1;
        color: var(--color-danger);

        background-color: var(--color-primary);

        span {
            position: relative;
            top: -4px;
        }
    }

    &__similar-button {
        position: absolute;
        bottom: 20px;
        inset-inline: 20px;

        padding: 10px;
        border-radius: 4px;

        @apply bg-secondary/75 border-2 border-primary/75 transition-colors;

        font-size: var(--text-lg);
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;

        &:hover {
            @apply bg-primary/75 text-secondary;
        }
    }

    &__title {
        grid-column: 1/-1;
        grid-row: 2/3;

        font-weight: 700;
        text-align: center;
        text-transform: uppercase;

        @variant min-md {
            grid-column: -2/-1;
            grid-row: 1/2;
            text-align:start;
        }
    }

    &__list-rounds {
        display: flex;
        grid-column: -2/-1;
        grid-row: 1/2;
        flex-direction: column;
        gap: 20px;
        align-items: center;

        @variant min-sm {
            justify-self: start;
        }

        @variant min-md {
            grid-column: -2/-1;
            grid-row: 2/3;
            flex-direction: row;
            justify-self: initial;
        }

        &-item {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 60px;
            height: 60px;
            border-radius: 50%;

            font-size: var(--text-lg);
            font-weight: 700;
            line-height: 1;

            &-inner {
                display: flex;
                align-items: center;
                justify-content: center;

                width: calc(100% - 4px);
                height: calc(100% - 4px);
                border-radius: 50%;

                background: radial-gradient(var(--color-secondary) 40%, var(--color-accent) 100%);

                span {
                    position: relative;
                    top: -3px;
                    font-size: var(--text-3xs);
                }
            }

            &:not(:first-child) {
                flex-direction: column;
                row-gap: 2px;
                border: 2px solid var(--color-primary);
                background: radial-gradient(var(--color-secondary) 40%, var(--color-accent) 100%);

                span {
                    font-size: 9px;
                    font-weight: 400;
                    opacity: 0.75;
                }
            }
        }
    }

    &__list-info {
        display: flex;
        grid-column: 1/-1;
        flex-direction: column;
        row-gap: 10px;

        @variant min-md {
            grid-column: -2/-1;
            grid-row: 3/4;
        }

        &-item {
            display: flex;
            flex-wrap: wrap;
            column-gap: 6px;
            align-items: center;

            font-size: var(--text-lg);
            line-height: 1.2;

            &--link {
                flex-wrap: nowrap;

                a[href] {
                    @apply truncate u-link-color;
                }
            }

            &--tagline {
                margin-bottom: 10px;
                font-weight: 600;
                font-style: italic;
                opacity: 0.75;
            }

            & > *:first-child {
                opacity: 0.75;
            }

            & > *:last-child {
                font-weight: 600;
            }
        }
    }

    &__overview {
        grid-column: 1/-1;
        line-height: 1.25;

        &-title {
            margin-bottom: 10px;
            font-size: var(--text-xl);
            font-weight: 700;
        }

        &-text {
            font-size: var(--text-md);
            opacity: 0.75;
        }
    }

    &__content {
        @apply mt-[30px] text-primary bg-secondary/75 rounded-sm py-5;
        @apply xxl:max-w-[1440px];
    }

    &__companies {
        grid-column: 1/-1;
        line-height: 1.2;

        &-title {
            margin-bottom: 10px;
            font-size: var(--text-xl);
            font-weight: 700;
        }

        &-list {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            align-items: center;
        }

        &-item {
            display: flex;
            column-gap: 10px;
            align-items: center;
        }

        &-logo {
            position: relative;

            overflow: hidden;
            flex-shrink: 0;

            aspect-ratio: 1/1;
            width: 50px;
            border-radius: 2px;

            background-color: var(--color-primary);

            img {
                padding: 1px;
                object-fit: contain;
            }
        }

        &-content {
            display: flex;
            flex-direction: column;
            row-gap: 4px;
        }
    }
}