@import '../../../../styles/app-base.css';
@import '../../../../styles/app.css';

.p-movie {
    width: 100%;
}

.с-movie-details-card {
    position: relative;
    width: 100%;
    color: var(--color-primary);

    &__backdrop {
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.75);

        img {
            z-index: -1;
            object-fit: cover;
        }
    }

    &__container {
        position: relative;

        display: grid;
        grid-template-columns: 1fr 60px;
        gap: 20px;

        padding-block: 30px;

        @variant min-sm {
            grid-template-columns: 1fr 112px;
        }

        @variant min-md {
            grid-template-columns: 328px 1fr;
            grid-template-rows: max-content max-content 1fr;
        }
    }

    &__cover {
        position: relative;

        overflow: hidden;
        flex-shrink: 0;

        aspect-ratio: 2/3;
        width: 255px;
        margin-inline: auto;
        border: 1px solid var(--color-accent-hover);
        border-radius: 4px;

        box-shadow: 0 4px 16px rgba(8, 88, 125, 0.6);

        @variant min-md {
            grid-column: 1/2;
            grid-row: 1/4;
            width: 100%;
        }

        img {
            object-fit: cover;
        }
    }

    &__title {
        grid-column: 1/-1;
        grid-row: 2/3;

        font-weight: 700;
        text-align: center;
        text-transform: uppercase;

        @variant min-md {
            grid-column: -2/-1;
            grid-row: 1/2;
            text-align:start;
        }
    }

    &__list-rounds {
        display: flex;
        grid-column: -2/-1;
        grid-row: 1/2;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;

        @variant min-md {
            grid-column: -2/-1;
            grid-row: 2/3;
            flex-direction: row;
            justify-content: flex-start;
        }

        &-item {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 60px;
            height: 60px;
            border: 1px solid var(--color-primary);
            border-radius: 50%;

            font-size: var(--text-lg);
            font-weight: 700;
            line-height: 1;

            background-image: radial-gradient(#222 40%, var(--color-accent) 100%);

            &:not(:first-child) {
                span {
                    font-size: 9px;
                    font-weight: 400;
                }
            }

            &:first-child {
                span {
                    font-size: var(--text-sm);
                    font-weight: 400;
                }
            }

            &:nth-child(-n+2) {
                span {
                    position: relative;
                    top: -4px;
                }
            }

            &:nth-child(n + 3) {
                flex-direction: column;
                row-gap: 2px;

                span {
                    opacity: 0.75;
                }
            }
        }
    }

    &__list {
        display: flex;
        grid-column: 1/-1;
        flex-direction: column;
        row-gap: 10px;

        @variant min-md {
            grid-column: -2/-1;
            grid-row: 3/4;
        }
    }

    &__item {
        font-size: var(--text-lg);
        line-height: 1.2;
    }
}

.movie-card-details {
    padding-block: 40px;
    line-height: 1;
}

@media screen and (width <= 767px) {
    .movie-card-details-wrapper-img {
        position: relative;

        aspect-ratio: 2 / 3;
        max-width: 500px;
        margin-right: auto;
        margin-bottom: 20px;
        margin-left: auto;
    }

    .movie-card-details-description {
        max-width: 570px;
        margin-right: auto;
        margin-left: auto;
    }

    .movie-card-details-title {
        text-align: center;
    }
}

@media screen and (width >= 768px) {
    .movie-card-details {
        display: grid;
        grid-column-gap: 30px;
        grid-template-columns: 2fr 3fr;
    }

    .movie-card-details-wrapper-img {
        position: relative;
        aspect-ratio: 2 / 3;
        width: 100%;
        max-width: 500px;
    }
}

.movie-card-details-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (width >= 1024px) {
    .movie-card-details-img {
        object-fit: contain;
    }
}

.movie-card-details-title {
    margin-bottom: 20px;

    font-size: 28px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
}

.movie-card-details-list {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 500;
}

.movie-card-details-item:not(:last-child) {
    margin-bottom: 10px;
}

.movie-card-details-item > span {
    font-weight: 400;
}

.movie-card-details-overview,
.movie-card-details-genres,
.movie-card-details-companies {
    margin-bottom: 20px;
}

.movie-card-details-overview-title,
.movie-card-details-genres-title,
.movie-card-details-companies-title,
.movie-card-details-countries-title {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}

.movie-card-details-overview-text {
    padding-left: 20px;
    font-size: 20px;
    line-height: 1.1;
}

.movie-card-details-genres-list,
.movie-card-details-companies-list,
.movie-card-details-countries-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    font-size: 20px;
}

.movie-card-details-genres-item,
.movie-card-details-companies-item,
.movie-card-details-countries-item {
    line-height: 1.1;
}

.movie-card-details-genres-item:not(:last-child),
.movie-card-details-companies-item:not(:last-child),
.movie-card-details-countries-item:not(:last-child) {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid #111;
}
